<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kalanjiyam">

    <application
        android:allowBackup="true"
        android:icon="@drawable/agri_logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Farming_Add_Product" android:screenOrientation="portrait"></activity>
        <activity android:name=".Farming_HomePage" android:screenOrientation="portrait"></activity>
        <activity android:name=".BarrenLand_HomePage" android:screenOrientation="portrait"></activity>
        <activity android:name=".Employment_HomePage" android:screenOrientation="portrait"></activity>
        <activity android:name=".Home_page" android:screenOrientation="portrait"></activity>
        <activity android:name=".Farming_Buy_Product" android:screenOrientation="portrait"></activity>
        <activity android:name=".Farming_View_Product" android:screenOrientation="portrait"></activity>
        <activity android:name=".Employment_Add_Job" android:screenOrientation="portrait"></activity>
        <activity android:name=".Employment_View_Job" android:screenOrientation="portrait"></activity>
        <activity android:name=".Employment_Desc_Job" android:screenOrientation="portrait"></activity>
        <activity android:name=".BarrenLand_Add_Land" android:screenOrientation="portrait"></activity>
        <activity android:name=".BarrenLand_View_Land" android:screenOrientation="portrait"></activity>
        <activity android:name=".BarrenLand_Desc_Job" android:screenOrientation="portrait"></activity>
        <activity android:name=".Employment_Applied_Job" android:screenOrientation="portrait"></activity>
        <activity android:name=".Employment_Applied_Job_Desc" android:screenOrientation="portrait"></activity>
        <activity android:name=".Get_Job" android:screenOrientation="portrait"></activity>

    </application>

</manifest>